<a href="https://colab.research.google.com/github/salvadorhm/sqlalchemy/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLAlchemy Introduccion

## Cargar las librerias de sqlachemy

In [1]:
from sqlalchemy import create_engine # Conexion con las bases de datos
from sqlalchemy import MetaData # Metadatos de las tablas
from sqlalchemy import Table, Column, Integer, String # Tipos de datos
from sqlalchemy import insert, select, update, delete # Funciones

# Conexion con la base de datos

In [2]:
engine = create_engine('sqlite:///foo.db')

# Objeto para definir las tablas

In [3]:
metadata_obj = MetaData()

# Definicion de la tabla clientes

In [4]:
clientes = Table(
    'clientes',
    metadata_obj,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String(16), nullable=False),
    Column('email', String(60), nullable=False),
)

# Creacion de las tablas y de la base de datos si no existiera

In [5]:
metadata_obj.create_all(engine)

# Statement para insertar un nuevo registro usando SQLAlchemy Core

In [6]:
stmt = insert(clientes).values(nombre='Cliente 1', email="cliente1@email.com")
print(stmt)

INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

# Conexion con la base de datos y ejecucion del statement.

**Nota:** with permite abrir y cerrar la sesion con la base de datos de forma automatica.

In [7]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Insertar multiple registros

In [8]:
data = [
    {"nombre":"Cliente 2","email":"cliente2@email.com"},
    {"nombre":"Cliente 3","email":"cliente3@email.com"}
    ]
stmt = insert(clientes).values(data)
print(stmt)

INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1)

# Conexion con la base de datos para insertar los valores

In [9]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Statement para consultar todos los registros con SQLAlchemy Core

In [10]:
stmt = select(clientes)
print(stmt)

SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

# Conexion con la base de datos y ejecucion del statement.

In [11]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

1 : Cliente 1 : cliente1@email.com
2 : Cliente 2 : cliente2@email.com
3 : Cliente 3 : cliente3@email.com

# Statement para consultar un solo registro

In [12]:
stmt = select(clientes).where(clientes.c.nombre =='Cliente 1')
print(stmt)

SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE clientes.nombre = :nombre_1

# Ejecutando el statement SELECT WHERE

In [13]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

1 : Cliente 1 : cliente1@email.com

In [14]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"{row.id_cliente}:{row.nombre}:{row.email}")

1:Cliente 1:cliente1@email.com

# Actualizar un registro

In [15]:
stmt = (
    update(clientes).where(clientes.c.id_cliente == 1).
    values(nombre = 'Cliente actualizado')
    )

print(stmt)

UPDATE clientes SET nombre=:nombre WHERE clientes.id_cliente = :id_cliente_1

# Ejecutar el statement UPDATE

In [16]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Creación de un metodo para imprimir todos los registros

In [17]:
def get_all():
    with engine.connect() as conn:
        stmt = select(clientes)
        result = conn.execute(stmt)
        for row in result.fetchall():
            print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

# Invocar el método para mostrar todos los registros

In [18]:
get_all()

1 : Cliente actualizado : cliente1@email.com
2 : Cliente 2 : cliente2@email.com
3 : Cliente 3 : cliente3@email.com

# Statemente para eliminar un registro con DELETE

In [19]:
stmt = delete(clientes).where(clientes.c.id_cliente == 2)
print(stmt)

DELETE FROM clientes WHERE clientes.id_cliente = :id_cliente_1

# Definir metodo para ejecutar STATEMENTS

In [20]:
def execute(stmt):
    with engine.connect() as conn:
        result = conn.execute(stmt)
        return result

# Llamar al metodo execute con el statement DELETE

In [21]:
execute(stmt)

# Imprimir todos los registros para verificar que se elimino un registro

In [22]:
get_all()

1 : Cliente actualizado : cliente1@email.com
3 : Cliente 3 : cliente3@email.com