<a href="https://colab.research.google.com/github/salvadorhm/sqlalchemy/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLAlchemy Introduccion

## Cargar las librerias de sqlachemy

In [1]:
from sqlalchemy import create_engine # Conexion con las bases de datos
from sqlalchemy import MetaData # Metadatos de las tablas
from sqlalchemy import Table, Column, Integer, String # Tipos de datos
from sqlalchemy import insert, select # Funciones

# Conexion con la base de datos

In [2]:
engine = create_engine('sqlite:///foo.db')

# Objeto para definir las tablas

In [3]:
metadata_obj = MetaData()

# Definicion de la tabla clientes

In [4]:
clientes = Table(
    'clientes',
    metadata_obj,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String(16), nullable=False),
    Column('email', String(60), nullable=False),
)

# Creacion de las tablas y de la base de datos si no existiera

In [5]:
metadata_obj.create_all(engine)

# Statement para insertar un nuevo registro usando SQLAlchemy

In [7]:
stmt = insert(clientes).values(nombre='Cliente 1', email="cliente1@email.com")
print(stmt)

INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

# Conexion con la base de datos y ejecucion del statement.

**Nota:** with permite abrir y cerrar la sesion con la base de datos de forma automatica.

In [8]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [10]:
stmt = select(clientes)
print(stmt)

SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [11]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(f"{row['id_cliente']}:{row['nombre']}")

1:Cliente 1