<a href="https://colab.research.google.com/github/salvadorhm/sqlalchemy/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQLAlchemy Introducción


**ORM (Object Relational Mapper)** - Modelo de programación que permite **mapear** las estructuras de las bases de datos relacionales **RDBMS (Relational Database Management System)**.

ORM es una librería que permite manipular las tablas de una BD relacional como si fueran objetos.

## Cargar las librerias de sqlachemy

In [1]:
from sqlalchemy import create_engine # Conexion con las bases de datos
from sqlalchemy import MetaData # Metadatos de las tablas
from sqlalchemy import Table, Column, Integer, String # Tipos de datos
from sqlalchemy import insert, select, update, delete # Funciones 
from sqlalchemy.orm import aliased # Alias para tablas
from sqlalchemy import text # Consultas textuales

# Conexión con la base de datos

SQLAlchemy incluye varios [DIALECTOS](https://docs.sqlalchemy.org/en/14/dialects/index.html) para conectarse con bases de datos, esto se realiza a través de [ENGINES](https://docs.sqlalchemy.org/en/14/core/engines.html) que contiene los drivers para cada base de datos en particular.


## PostgreSQL

```python
# default
engine = create_engine('postgresql://scott:tiger@localhost/mydatabase')

# psycopg2
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

# pg8000
engine = create_engine('postgresql+pg8000://scott:tiger@localhost/mydatabase')
```

## MySQL

```python
# default
engine = create_engine('mysql://scott:tiger@localhost/foo')

# mysqlclient (a maintained fork of MySQL-Python)
engine = create_engine('mysql+mysqldb://scott:tiger@localhost/foo')

# PyMySQL
engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')
```

## Oracle

```python
engine = create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')

engine = create_engine('oracle+cx_oracle://scott:tiger@tnsname')
```

## Microsoft SQL Server

```python
# pyodbc
engine = create_engine('mssql+pyodbc://scott:tiger@mydsn')

# pymssql
engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')
```

## SQLite

```python
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///foo.db')
```

In [2]:
engine = create_engine('sqlite:///foo.db')

# Objeto para definir las tablas

[Definición de estructura de las tablas](https://docs.sqlalchemy.org/en/14/core/metadata.html)

In [3]:
metadata = MetaData()

# Definicion de la tabla clientes

Tipos de datos de SQLAlchemy [Tipos de datos](https://www.oreilly.com/library/view/essential-sqlalchemy/9780596516147/ch04.html)

|Class name|Python type|SQL type (for SQLite driver)|Arguments|
|---|---|---|---|
|String	|string	|TEXT or VARCHAR	|length (default is unbounded)|
|Integer|	int|	INTEGER|	none|
|SmallInteger|	int	|SMALLINT|	none|
|Numeric|	float, Decimal|	NUMERIC	|precision=10 , length=2|
|Float(Numeric)|	float|	NUMERIC	|precision=10|
|DateTime|	datetime.datetime	|TIMESTAMP	|none|
|Date|	datetime.date	|DATE	|none|
|Time|	datetime.time	|TIME	|none|
|Binary|	byte string|	BLOB	|length (default is unbounded)|
|Boolean|	bool	|BOOLEAN	|none|
|Unicode|	unicode	|TEXT or VARCHAR	|length (default is unbounded)|
|PickleType	|any object that can be pickled|	BLOB	|none|
|FLOAT(Numeric)|	float, Decimal	|NUMERIC	|precision=10 ,length=2|
|TEXT(String)	|string	|TEXT	|length (default is unbounded)|
|DECIMAL(Numeric)|	float, Decimal	|NUMERIC	|precision=10,length=2|
|INT, INTEGER(Integer)|	int	|INTEGER	|none|
|TIMESTAMP(DateTime)	|datetime.datetime	|TIMESTAMP	|none|
|DATETIME(DateTime)	|datetime.datetime	|TIMESTAMP	|none|
|CLOB(String)	|string	|TEXT	|length (default is unbounded)|
|VARCHAR(String)|	string|	VARCHAR or TEXT	|length (default is unbounded)|
|CHAR(String)|	string	|CHAR or TEXT	|length (default is unbounded)|
|NCHAR(Unicode)|	string	|VARCHAR, NCHAR, or TEXT	|length (default is unbounded)|
|BLOB(Binary)|	byte string	|BLOB	|length (default is unbounded)|
|BOOLEAN(Boolean)|	bool	|BOOLEAN	|none|

DDL - Lenguaje de definición de datos (Data Definition Lanaguage)

In [4]:
clientes = Table(
    'clientes',metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String(16), nullable=False),
    Column('email', String(60), nullable=False),
)

In [5]:
print(type(clientes))
print(clientes)

<class 'sqlalchemy.sql.schema.Table'>
clientes

# Creación de las tablas y de la base de datos si no existiera

In [6]:
metadata.create_all(engine)

# Sentencia (statement) para insertar un nuevo registro usando SQLAlchemy Core

Statement es DML: Lenguaje de manipulación de datos (Data Manipulation Language) 

[Documentación para insertar](https://docs.sqlalchemy.org/en/14/tutorial/data_insert.html)

In [7]:
stmt = insert(clientes).values(nombre='Cliente 1', email="cliente1@email.com")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

# Conexión con la base de datos y ejecucion de la sentencia (statement).

**Nota:** with permite abrir y cerrar la sesion con la base de datos de forma automatica.

In [8]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Insertar multiple registros

In [9]:
data = [
    {"nombre":"Cliente 2","email":"cliente2@email.com"},
    {"nombre":"Cliente 3","email":"cliente3@email.com"}
    ]
stmt = insert(clientes).values(data)
print(stmt)

INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1)

# Conexión con la base de datos para insertar los valores

In [10]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Sentencia (statement) para consultar todos los registros con SQLAlchemy Core

[Documentación para selección de registros](https://docs.sqlalchemy.org/en/14/orm/queryguide.html )

In [11]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

# Conexión con la base de datos y ejecucion de la Sentencia (statement).

In [12]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

1 : Cliente actualizado : cliente1@email.com
3 : Cliente 3 : cliente3@email.com
4 : Cliente 1 : cliente1@email.com
5 : Cliente 2 : cliente2@email.com
6 : Cliente 3 : cliente3@email.com

# Sentencia (statement) para consultar un solo registro

In [32]:
stmt = select(clientes).where(clientes.c.nombre =='Cliente 1')
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE clientes.nombre = :nombre_1

# Ejecutando la sentencia (statement) SELECT WHERE

In [14]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result.fetchall():
        print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

4 : Cliente 1 : cliente1@email.com

## Accediendo a los datos desde el objeto row

In [33]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    print(type(result))
    for row in result:
        print(type(row))
        print(f"{row.id_cliente}:{row.nombre}:{row.email}")

<class 'sqlalchemy.engine.cursor.LegacyCursorResult'>
<class 'sqlalchemy.engine.row.LegacyRow'>
4:Cliente 1:cliente1@email.com

## Ordenar registros

In [16]:
stmt = select(clientes).order_by(clientes.c.nombre)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes ORDER BY clientes.nombre

# Ejecutando la sentencia (statement) SELECT ORDER BY

In [17]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"{row.id_cliente}:{row.nombre}:{row.email}")

4:Cliente 1:cliente1@email.com
5:Cliente 2:cliente2@email.com
3:Cliente 3:cliente3@email.com
6:Cliente 3:cliente3@email.com
1:Cliente actualizado:cliente1@email.com

# ORM Alias

In [18]:
tc = aliased(clientes)
stmt = select(tc).order_by(tc.c.nombre)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes_1.id_cliente, clientes_1.nombre, clientes_1.email
FROM clientes AS clientes_1 ORDER BY clientes_1.nombre

# Ejecutar la consulta

In [19]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"{row.id_cliente}:{row.nombre}:{row.email}")

4:Cliente 1:cliente1@email.com
5:Cliente 2:cliente2@email.com
3:Cliente 3:cliente3@email.com
6:Cliente 3:cliente3@email.com
1:Cliente actualizado:cliente1@email.com

# Seleccionado campos a mostrar de una consulta

In [20]:
stmt = select(clientes.c.nombre).order_by(clientes.c.nombre)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.nombre
FROM clientes ORDER BY clientes.nombre

# Ejecutando la consulta

In [21]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"{row}")

('Cliente 1',)
('Cliente 2',)
('Cliente 3',)
('Cliente 3',)
('Cliente actualizado',)

# Consultas textuales

In [22]:
stmt = text("SELECT id_cliente, nombre FROM clientes ORDER BY id_cliente")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.elements.TextClause'>
SELECT id_cliente, nombre FROM clientes ORDER BY id_cliente

# Ejecutando la consulta

In [23]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
        print(f"{row}")

(1, 'Cliente actualizado')
(3, 'Cliente 3')
(4, 'Cliente 1')
(5, 'Cliente 2')
(6, 'Cliente 3')

# Actualizar un registro

In [24]:
stmt = (
    update(clientes).where(clientes.c.id_cliente == 1).
    values(nombre = 'Cliente actualizado')
    )
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Update'>
UPDATE clientes SET nombre=:nombre WHERE clientes.id_cliente = :id_cliente_1

# Ejecutar la sentencia (statement) UPDATE

In [25]:
with engine.connect() as conn:
    result = conn.execute(stmt)

# Creación de un metodo para imprimir todos los registros

In [26]:
def get_all():
    with engine.connect() as conn:
        stmt = select(clientes)
        result = conn.execute(stmt)
        for row in result.fetchall():
            print(f"{row['id_cliente']} : {row['nombre']} : {row['email']}")

# Invocar el método para mostrar todos los registros

In [27]:
get_all()

1 : Cliente actualizado : cliente1@email.com
3 : Cliente 3 : cliente3@email.com
4 : Cliente 1 : cliente1@email.com
5 : Cliente 2 : cliente2@email.com
6 : Cliente 3 : cliente3@email.com

# Sentencia (statement)*texto en cursiva* para eliminar un registro con DELETE

In [28]:
stmt = delete(clientes).where(clientes.c.id_cliente == 2)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Delete'>
DELETE FROM clientes WHERE clientes.id_cliente = :id_cliente_1

# Definir metodo para ejecutar Sentencias (statement)

In [29]:
def execute(stmt):
    with engine.connect() as conn:
        result = conn.execute(stmt)
        return result

# Llamar al metodo execute con la sentencia (statement) DELETE

In [30]:
execute(stmt)

# Imprimir todos los registros para verificar que se elimino un registro

In [31]:
get_all()

1 : Cliente actualizado : cliente1@email.com
3 : Cliente 3 : cliente3@email.com
4 : Cliente 1 : cliente1@email.com
5 : Cliente 2 : cliente2@email.com
6 : Cliente 3 : cliente3@email.com